.vscode/*
!.vscode/extensions.json
.idea
.DS_Store


logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

*docs


backend/node_modules
frontend/node_modules

backend/dist
frontend/dist

backend/.vscode
frontend/.vscode
frontend/docs

backend/.idea
frontend/.idea

backend/.git
frontend/.git

backend/dbdata-old
backend/dbdata

# TODO: For demo purposes we allow .env to be pushed
# .env
